// Place all the styles related to the bundles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#flashcards_list {
	width: 600px;
}

i {
	font-size: 18px;
}

div#controls {
	margin-bottom: 15px;
}

div.deck {
	border-style: dotted;
	border-width: 2px;
	padding: 10px;
	margin-bottom: 25px;
}